.root {
  display: flex;
}


.sidebar {
  background-color: #0C0D14;
  min-width: 12%;
  max-width: 12%;
  border-right: 1px solid #aba7a7;
}

.main__content {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #0C0D14;
}
